.mainFooter {
    background-color: rgba(53, 56, 73, 0.95);
    color: white;
}

.mainFooterContainer {
    padding-top: 3em;
    padding-bottom: 3em;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;

    display: flex;
    flex-direction: column;
}

.mainFooter-contacts {
    display: flex;
    margin-bottom: 2rem;
}

.contactList {
    list-style-type: none;
    margin-bottom: 3rem;
}

.contactList > li {
    margin-top: 1rem;
}

.contactList > li > a:hover {
    text-decoration: underline;
    cursor: pointer;
}