@tailwind base;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-blue-600 font-heading uppercase;
  }

  h1 {
    @apply uppercase text-3xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply pb-4 text-lg;
  }

  a {
    text-decoration: underline;
  }
}

@tailwind components;
@tailwind utilities;
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

@font-face {
  font-family: "Raleway Semibold";
  src: url("../public/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: "Raleway Bold";
  src: url("../public/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway XLight";
  src: url("../public/Raleway-ExtraLight.ttf");
}

:root {
  /* --container-margin: 2rem;
  --inner-padding-sides: 2rem; */

  /* --breakpoint-xlarge: 1680px;
  --breakpoint-large: 1280px;
  --breakpoint-medium: 980px;
  --breakpoint-small: 736px;
  --breakpoint-xsmall: 480px;
  --breakpoint-xxsmall: 360px;

  --palette-bg: #2e3141;
  --palette-fg: #fff;
  --palette-fg-bold: #fff;
  --palette-fg-light: rgba(255, 255, 255, 0.35);
  --palette-border: rgba(255, 255, 255, 0.125);
  --palette-border-bg: rgba(255, 255, 255, 0.025);
  --palette-border2: rgba(255, 255, 255, 0.25);
  --palette-border2-bg: rgba(255, 255, 255, 0.075);
  --palette-accent: #4c5c96;

  --font--family: 'Source Sans Pro', Helvetica, sans-serif;
  --font-family-fixed: 'Courier New', monospace;
  --font-family-heading: Raleway, Helvetica, sans-serif;
  --font-weight: 300;
  --font-weight-bold: 600;
  --font-weight-heading: 200;
  --font-weight-heading-bold: 700;
  --font-kern-heading: 0.1em;

  --element-margin: 2em; */
}



/* .container {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
} */
